/*
    Created on : 08.10.2020, 19:31:44
    Author     : acul
*/

.button.sameSize {
  padding: 1vh;
  margin-top: 1vh;
}

.button {
  color:white;
  background: black;
  border-style: solid;
  border-color: black;
  border-width: 0.2vh;
  cursor: pointer;
  transition-duration: 0.3s;
}

.button:hover {
  color: red;
  border-color: red;
}