/*
    Created on : 18.09.2020, 21:51:35
    Author     : acul
*/

.userList{
  margin: 2vh 10vh;
  list-style: none;
  padding: 0;
}

.userItem {
  margin-bottom: 2vh;
  display: block;
  background: rgb(24,24,24);
}

.userItem summary{
  border-style: solid;
  border-color: rgb(24,24,24);
  border-width: 0.2vh;
  padding: 1vh;
  cursor: pointer;
  transition-duration: 0.3s;
  word-wrap: break-word;
}

.userItem summary:hover{
  color: red;
  border-color: red;
}

.userContainer{
  text-align: center;
  padding: 1vh;
}
