<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Control Panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./index.php?action=open&type=css&file=menu">
        <link rel="stylesheet" type="text/css" href="./index.php?action=open&type=css&file=general">
        {meta}
    </head>
    <body>
        <div id="topMenu">
            {menu}
        </div>
        <div class="notTopMenu">
            {submenu}
            <div class="content">
                {content}
            </div>
        </div>
    </body>
</html>